body {
    background-color: rebeccapurple;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header img {
    width: 100%;
}


.topnav {
    overflow: hidden;
    background-color:black;
    text-align: center;
}

.topnav li,
footer li {
    display: inline;
}


/* Style the topnav links */
.topnav a {
    color: rebeccapurple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer a {
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: rebeccapurple;
    color: black;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

#main {
    width: 68%;
    float: right;
    background-color: gray;
    padding: 1%;
}

#side {
    width: 30%;
    float: left;
    background-color: black;
    color: gray;
    text-decoration: none;
}

#side li {
    list-style-type: none;
    padding: 10px 0;

}

#side a {
    color: gray;
    text-decoration: none;
}

section {
    background-color: gray;
    overflow: auto;
}

footer {
    background-color: rebeccapurple;
    text-align: center;
    padding: 5px;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #wrap {
        width: 99%;
    }

    .topnav a {
        display: block;
        float: none;
        width: 100%;
        padding: 10px;
    }

    .topnav ul {
        margin: 0;
        padding: 0;
    }

    #main,
    #side {
        float: none;
        width: 100%;
    }
    .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;


}
    .embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
